<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
  <package id="WebSharper" version="4.1.0.171" targetFramework="net461" />
  <package id="WebSharper.FSharp" version="4.1.0.171" targetFramework="net461" />
  <package id="WebSharper.OAuth" version="4.1.14.100" targetFramework="net461" />
  <package id="WebSharper.UI" version="4.1.0.34" targetFramework="net461" />
</packages>